@{
    Layout="~/Views/Shared/AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<style>.toast-top-center { 
    top: 12px;   
    
    left: 50%;   
     margin:0 0 0 -150px;
}</style>
   @if (TempData["Success"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr.success('@TempData["Success"]', '', { positionClass: 'toast-top-center' });
            });
        </script>
    }
    
   @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr.Error('@TempData["Message"]', '', { positionClass: 'toast-top-center' });
            });
        </script>
    }
       
   @if (TempData["Mes"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr.Error('@TempData["Mes"]', '', { positionClass: 'toast-top-center' });
            });
        </script>
    }


<body>

    <button type="button"><a  asp-controller="Admin" asp-action="DoctorRegister">Doctor Registration</a></button>

     <button type="button"><a  asp-controller="Admin" asp-action="DoctorDetails">Doctor Details</a></button>
      <button type="button"><a  asp-controller="Admin" asp-action="PatientDetails">Patient Details</a></button>
            <button type="button"><a  asp-controller="Admin" asp-action="AppointmentDetails">Appointment Details</a></button>
                  <button type="button"><a  asp-controller="Specialization" asp-action="SpecializationDetails">Specializations </a></button>

</body>