@model HospitalClient.Models.Specialization

@{
    ViewData["Title"] = "EditSpecialization";
}

<h1>Edit Specialization</h1>
<hr />

<h4>Edit Specialization Id: @Model.SpecializationId </h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSpecialization">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="SpecializationId" class="control-label"></label>
                <input asp-for="SpecializationId" class="form-control" />
                <span asp-validation-for="SpecializationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecializationName" class="control-label"></label>
                <input asp-for="SpecializationName" class="form-control" />
                <span asp-validation-for="SpecializationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
