@model IEnumerable<HospitalClient.Models.Specialization>

@{
    ViewData["Title"] = "Specialities";
}

<h1>Specialities</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.SpecializationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.SpecializationName)
            </td>
           
        </tr>
}
    </tbody>
</table>
