

@{
    Layout = "~/Views/Shared/HomeLayout.cshtml";  
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Grace Hospital</h1>
    <p>Living Healthier Together</p>
    <style>
h1 {text-align: center;color:darkblue ;font-family:sans-serif; font-size:75px}
p {text-align: center;font-family:Verdana; color:black; font-style:inherit;font-size:20px }
div {text-align: center;}
</style>
</div>
