@{
    Layout="~/Views/Shared/PatientLayout.cshtml";
    ViewData["Title"] = "Index";
}




<body>

    <button type="button"><a  asp-controller="Patient" asp-action="AppointmentSelectDoctor">Book Appointment</a></button>
        <button type="button"><a  asp-controller="Patient" asp-action="AppointmentDetails">Appointment details</a></button>
    <button type="button"><a  asp-controller="Patient" asp-action="Details"> My Account </a></button>

   
</body>